{% extends 'base/base.html' %}

{% block content %}
<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        
        <div class="col-md-9 col-lg-6 col-xl-5" style="margin-bottom: 200px; background-color: skyblue;">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <div class="card mx-auto" style="max-width:500px; max-height: 500px; margin-bottom: 100px;">
            <article class="card-body">
            <header class="mb-4"><h4 class="card-title">Sign up</h4></header>
          <form method="POST">
            {% csrf_token %}
            {% include 'base/alert.html' %}
            <div class="col form-group">
                <input type="text" name="Email" class="form-control" placeholder="Username">
  
            </div>
            
            <div class="col form-group">
                <input class="form-control" name="Password" type="password" placeholder="password">
            </div> 
                
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block"> Login  </button>
            </div>

            <div class="divider d-flex align-items-center my-4">
              <p class="text-center fw-bold mx-3 mb-0">Or</p>
            </div>
          
          <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
              <p class="lead fw-normal mb-0 me-3">Sign in with</p>
              <button type="button" class="btn btn-primary btn-floating mx-1">
                <i class="fab fa-facebook-f"></i>
              </button>
  
              <button type="button" class="btn btn-primary btn-floating mx-1">
                <i class="fab fa-twitter"></i>
              </button>
  
              <button type="button" class="btn btn-primary btn-floating mx-1">
                <i class="fab fa-linkedin-in"></i>
              </button>
            </div>
          </form>
          </article>
        </div>
        <p class="text-center mt-4">Don't have an account? <a href="{% url 'register' %}">Register</a></p>
      </div>
    </div>
    </div>
  </section>
{% endblock %}